/*Loader*/
#loader {
  border: 8px solid #a970ff;
  border-radius: 50%;
  border-top: 8px solid #70ff91;
  border-bottom: 8px solid #70ff91;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: relative;
  top: 40vh;
  float: none;
  margin: 0 auto;
  text-align: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}