/*Load custom fonts*/
@font-face {
    font-family: BikoRegular;
    src: url(../fonts/biko/Biko_Regular.otf);
}

@font-face {
    font-family: BikoBlack;
    src: url(../fonts/biko/Biko_Black.otf);
}

@font-face {
    font-family: BikoBlock;
    src: url(../fonts/biko/Biko_Bold.otf);
}

@font-face {
    font-family: BikoLight;
    src: url(../fonts/biko/Biko_Light-Restricted.otf);
}

/*Style for whole page*/
body {
  font-family: BikoRegular;
  font-size: 16px!important;
}

.bg-color-pink{
	background-color: #ff7070;
}

.bg-color-purple{
	background-color: #a970ff;
}

/*Location button style*/
.loc-button{
	color: #a970ff;
    background-color: #70ff91;
    border: 0px!important;
	border-radius: 0px!important;
	font-size: 16px!important;
	box-shadow: 0px 3px 15px #999999;
}

/*Search bar style*/
.search-button {
    color: #a970ff;
    background-color: #ffffff;
    border: 0px!important;
    border-radius: 0px!important;
    font-size: 16px!important;
}

.search-bar{
	width: 20%;
    margin: auto;
	background-color: #a970ff;
}

.search-box{
	background-color: #a970ff;
	border-width: 0px!important;
	color: #d4b8ff;border-radius: 0px!important;
	box-shadow: 0px 3px 15px #999999;
}

.labels{
    text-align: center;
    color: white;
	margin: 1%!important;
}

.green-text{
	color: #70ff91;
}

/*Classes for center content*/
.centered{
	float: none;
    margin: 0 auto;
	text-align: center;
}

.vertical-center{
	position: relative;
    top: 20vh;
}

/*First screen (search) slide in*/
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom: -300px; opacity:0 }
  to { bottom: -20vh; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom: -300px; opacity:0 }
  to{ bottom: -20vh; opacity:1 }
}

/*Second screen (results) slide in*/
.animate-bottom-2 {
  position: relative;
  -webkit-animation-name: animatebottom2;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom2;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom2 {
  from { bottom: -600px; opacity:0 }
  to { bottom: 0px; opacity:1 }
}

@keyframes animatebottom2 {
  from{ bottom: -600px; opacity:0 }
  to{ bottom: 0px; opacity:1 }
}

/*Style for main content*/
#row-main {
	overflow-x: hidden; 
}

/*Sidebar Style*/
#sidebar {
	height: 100vh;
	background-color: #70ff91;
	-webkit-transition: margin 0.3s ease;
	-moz-transition: margin 0.3s ease;
	-o-transition: margin 0.3s ease;
	transition: margin 0.3s ease;
	padding: 4%;
}

.collapsed {
	display: block;
	margin-left: -25%;  
}

#search, #results {
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

/*#results {
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
	-webkit-transition-delay: 1s;
    transition-delay: 1s;
}*/

.sidebar-top{
	font-size: 28px!important;
	color: #fff;
}

.sidebar-bottom{
	font-size: 28px!important;
	color: #a970ff;
}

.sidebar-social{
	font-size: 18px!important;
	color: #a970ff;
}

.separator{
	border-bottom: 3px solid #a970ff;
	border-radius:2px;
}

.icons{
	color:#a970ff;
	font-size:25px!important;
	cursor: pointer;
}

i.icons{
	text-decoration: none;
}

.social-icons{
	padding-left: 0px!important;
}

.days{
	text-transform: uppercase;
	font-family:BikoLight!important;
	color: #fff;
	margin-bottom: 15%;	
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

/*style to sidebar text for small devices*/
@media (max-width: 480px) {	
	.sidebar-top {
		font-size: 18px!important;
	}
	
	.sidebar-bottom{
		font-size: 18px!important;
	}

	.sidebar-social{
		font-size: 12px!important;
	}
	
	.search-bar {
		width: 50%;
	}	
}


